.logoloop {
  position: relative;
  overflow: hidden;
}

.logoloop__track {
  display: flex;
  width: max-content;
  will-change: transform;
}

.logoloop__list {
  display: flex;
  align-items: center;
}

.logoloop__item {
  flex: none;
  margin-right: var(--logoloop-gap);
}

.logoloop__item img {
  height: var(--logoloop-logoHeight);
  width: auto;
  display: block;
}
